*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}
html{
    font-size: 62.5%;
}
.nav{
    --startperc: 0%;
    --endperc: 40%;
    height: 10vh;
    width: 100%;
    background: linear-gradient(to right, transparent, var(--startperc), rgba(255, 255, 255, 0.527), var(--endperc), transparent);
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.226); */
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 5;
    backdrop-filter: blur(5px);
    color: rgb(135, 0, 212);
}
.logodiv, .menu, .signing{
    display: flex;
    flex-direction: row;
}
.logodiv{
    position: absolute;
    left: 8%;
    gap: 0.8rem;
}
.menu{
    margin: 0 auto;
    gap: 3rem;
}
.hello{
    font-size: 3rem;
}
.logodiv div, .signing div, .menu div{
    font-size: 2rem;
    color: white;
}
.logodiv .icondiv, .logodiv .hello{
    font-size:2.5rem;
}
.signing{
    position: absolute;
    right: 8%;
    gap: 2rem;
}
.signin{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.signup{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    padding: 1rem 2rem;
    width: max-content;
    background-color: rgb(80,180,107);
    cursor: pointer;
}
.signing .signup, .signing .signin{
    font-size: 1.6rem;
}


.topdiv{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, #1f1f1f, #000000);
    overflow: hidden;
}
.topdiv .svg1{
    height: 100rem;
    width: max-content;
    position: absolute;
    bottom: 10rem;
    left: -10rem;
    transform: translate(-35%, 50%);
}
.topdiv .svg2{
    height: 80rem;
    width: max-content;
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    transform: translate(35%, 15%);
}
.coverdiv{
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(20px);

}